[submodule "Assets/Packages/unity-gist"]
	path = Assets/Packages/unity-gist
	url = https://github.com/momentchan/unity-gist.git
[submodule "Assets/ScriptTemplates"]
	path = Assets/ScriptTemplates
	url = https://github.com/momentchan/unity-script-templates.git
[submodule "Assets/Packages/AzureKinectPackage"]
	path = Assets/Packages/AzureKinectPackage
	url = https://github.com/momentchan/AzureKinectPackage.git
